# 다중 for loop의 예제 : 구구단

In [88]:
# 다중 fof loop의 예제 : 구구단
for i in range(2, 10):
    for j in range(1,10):
        print("{0:3d} * {1:3d} = {2:3d}".format(i, j, i*j))
    print("")

  2 *   1 =   2
  2 *   2 =   4
  2 *   3 =   6
  2 *   4 =   8
  2 *   5 =  10
  2 *   6 =  12
  2 *   7 =  14
  2 *   8 =  16
  2 *   9 =  18

  3 *   1 =   3
  3 *   2 =   6
  3 *   3 =   9
  3 *   4 =  12
  3 *   5 =  15
  3 *   6 =  18
  3 *   7 =  21
  3 *   8 =  24
  3 *   9 =  27

  4 *   1 =   4
  4 *   2 =   8
  4 *   3 =  12
  4 *   4 =  16
  4 *   5 =  20
  4 *   6 =  24
  4 *   7 =  28
  4 *   8 =  32
  4 *   9 =  36

  5 *   1 =   5
  5 *   2 =  10
  5 *   3 =  15
  5 *   4 =  20
  5 *   5 =  25
  5 *   6 =  30
  5 *   7 =  35
  5 *   8 =  40
  5 *   9 =  45

  6 *   1 =   6
  6 *   2 =  12
  6 *   3 =  18
  6 *   4 =  24
  6 *   5 =  30
  6 *   6 =  36
  6 *   7 =  42
  6 *   8 =  48
  6 *   9 =  54

  7 *   1 =   7
  7 *   2 =  14
  7 *   3 =  21
  7 *   4 =  28
  7 *   5 =  35
  7 *   6 =  42
  7 *   7 =  49
  7 *   8 =  56
  7 *   9 =  63

  8 *   1 =   8
  8 *   2 =  16
  8 *   3 =  24
  8 *   4 =  32
  8 *   5 =  40
  8 *   6 =  48
  8 *   7 =  56
  8 *   8 =  64
  8 *   9 =  72

  9 *   1 =   9
  9 *   2 =  18
  9 *   3 =  27
  9 *   4 =  36
  9 *   5 =  45
  9 *   6 =  54
  9 *   7 =  63
  9 *   8 =  72
  9 *   9 =  81

In [7]:
# 다중 fof loop의 예제 : 구구단
for i in range(2, 10, 2):
    print("      %d단           %d단"% (i, i+1))
    for j in range(1,10):
        print("{0:2d} * {1:2d} = {2:2d}   {3:2d} * {4:2d} = {5:2d}  ".format(i, j, i*j, i+1, j, (i+j)))
    print("")

      2단           3단
 2 *  1 =  2    3 *  1 =  3
 2 *  2 =  4    3 *  2 =  4
 2 *  3 =  6    3 *  3 =  5
 2 *  4 =  8    3 *  4 =  6
 2 *  5 = 10    3 *  5 =  7
 2 *  6 = 12    3 *  6 =  8
 2 *  7 = 14    3 *  7 =  9
 2 *  8 = 16    3 *  8 = 10
 2 *  9 = 18    3 *  9 = 11

      4단           5단
 4 *  1 =  4    5 *  1 =  5
 4 *  2 =  8    5 *  2 =  6
 4 *  3 = 12    5 *  3 =  7
 4 *  4 = 16    5 *  4 =  8
 4 *  5 = 20    5 *  5 =  9
 4 *  6 = 24    5 *  6 = 10
 4 *  7 = 28    5 *  7 = 11
 4 *  8 = 32    5 *  8 = 12
 4 *  9 = 36    5 *  9 = 13

      6단           7단
 6 *  1 =  6    7 *  1 =  7
 6 *  2 = 12    7 *  2 =  8
 6 *  3 = 18    7 *  3 =  9
 6 *  4 = 24    7 *  4 = 10
 6 *  5 = 30    7 *  5 = 11
 6 *  6 = 36    7 *  6 = 12
 6 *  7 = 42    7 *  7 = 13
 6 *  8 = 48    7 *  8 = 14
 6 *  9 = 54    7 *  9 = 15

      8단           9단
 8 *  1 =  8    9 *  1 =  9
 8 *  2 = 16    9 *  2 = 10
 8 *  3 = 24    9 *  3 = 11
 8 *  4 = 32    9 *  4 = 12
 8 *  5 = 40    9 *  5 = 13
 8 *  6 = 48    9 *  6 = 14
 8 *  7 = 56    9 *  7 = 15
 8 *  8 = 64    9 *  8 = 16
 8 *  9 = 72    9 *  9 = 17

# 기본자료구조 / 함수

## 파이썬 기본자료구조의 이해와 활용

In [9]:
# 기본 타입들이 결합된 리스트, 튜플....

In [15]:
# 리스트의 생성 1. [] 사용
lst_a = [1, 2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [23]:
# 리스트의 생성 2. () 사용
lst_b = list(range(1,9))
print(lst_b)
type(lst_b)

[1, 2, 3, 4, 5, 6, 7, 8]

list

In [24]:
# 리스트에 여러가지 자료형 동시 저장하기

person = ['홍길동', 19, 181.5, True]
print(person)

['홍길동', 19, 181.5, True]

In [31]:
print(person[3])
print(person[-1])
print(person[-2])
print(person[-3])
print(person[0:2])
print(person[:3:2])
print(person[1:])

True
True
181.5
19
['홍길동', 19]
['홍길동', 181.5]
[19, 181.5, True]

In [32]:
# 빈 리스트 만들기
lst_a = [];type(lst_a)
lst_b = list();type(lst_b)

list

# 리스트 관련 함수

In [33]:
## 리스트 관련 함수
# append() : 리스트의 맨 뒤에 항목을 추가한다. 리스트명.append(값)
# pop() : 리스트 맨 뒤의 항목을 삭제한다. 리스트명.pop()
# sort() : 리스트의 항목을 정렬한다. 리스트명.sort()
# reverse() : 리스트 항목의 순서를 역순으로 만든다. 리스트명.reverse()
#index() : 지정한 값을 찾아 해당 위치를 반환한다. 리스트명.index(찾을값)
# insert() : 지정한 위치에 값을 삽입한다. 리스트명.insert(위치, 값)
# remove() : 리스트에서 지정한 값을 삭제한다. 단, 지정한 값이 여러개면 첫 번째 값만 지운다. 리스트명.remove(지울값)
# extend() : 리스트 뒤에 리스트를 추가한다. 리스트의 더하기(+) 연산과 기능이 동일한다. 리스트명.extend(추가할리스트)
# count() : 리스트에서 해당 값의 개수를 센다. 리스트명채.count(찾을값)
# clear() : 리스트의 내용을 모두 지운다. 리스트명.clear()
# del() : 리스트에서 해당 위치의 항목을 삭제한다. del(리스트명[위치])
# len() : 리스트에 포함된 전체 항목의 개수를 센다. len(리스트명)
# copy() : 리스트의 내용을 새로운 리스트에 복사한다. 새리스트=리스트명.copy()
# sorted() : 리스트의 항목을 정렬해서 새로운 리스트에 대입한다. 새리스트=sorted(리스트)

In [38]:
# append() : 리스트의 맨 뒤에 항목을 추가한다. 리스트명.append(값)
lst_a.append("한국아이티전문학원""259-2800")
print(lst_a)

['한국아이티전문학원259-2800']

In [39]:
# pop() : 리스트 맨 뒤의 항목을 삭제한다. 리스트명.pop()
lst_a.pop()
print(lst_a)

[]

In [49]:
lst_a.append("가나다")
lst_a.append("korea")

# 튜플의 생성과 활용

In [50]:
lst_a[1]='ABC'
print(lst_a)

['가나다', 'ABC', '가나다', 'koprea', '가나다', 'koprea', '가나다', 'koprea', '가나다', 'koprea', '가나다', 'korea', '가나다', 'korea']

In [60]:
# 튜플생성
#튜플명 = (값리스트)
t1 = (1,2,3)
print(t1)
t1=("이름", "학번", "학과", "주소")
print(t1)

(1, 2, 3)
('이름', '학번', '학과', '주소')

In [52]:
type(t1)

tuple

In [61]:
print(t1[0:1])
print(t1[0:2])
print(t1[-1])

('이름',)
('이름', '학번')
주소

In [65]:
# 튜플과 리스트의 변환
myTuple=(1,2,3)
myList=list(myTuple)
lst1=list(t1)
print(lst1)
myList.append(4)
myTuple=tuple(myList)
print(myTuple)

['이름', '학번', '학과', '주소']
(1, 2, 3, 4)

In [68]:
t1 = tuple(lst1)

In [69]:
print(lst1)

['이름', '학번', '학과', '주소']

# 딕셔너리의 생성과 활용

In [76]:
# 중괄호 {}로 묶어 구성, 키Key와 값Value쌍으로 구성
#  딕셔너리변수 = {키1:값1, 키2:값2, 키3:값3, ... }

# 딕셔너리의 생성
dic1 = {'name':'홍길동', 'phone':'010-1234-5678', 'addr':'청주시 상당구'}
print(dic1)

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}

In [79]:
print(dic1['name'])
print(dic1['phone'])
print(dic1['addr'])

홍길동
010-1234-5678
청주시 상당구

In [87]:

# 딕셔너리 관련 함수(연산자)
# 딕셔너리.get(키) : 키를 이용, 값에 접근
#print(dic1['phone'])
print(dic1.get('phone'))
# get(키) : 키를 이용해서 값을 얻는다.

# 딕셔너리.keys() : 딕셔너리의 키만을 모아 dict_keys 객체를 반환

# 딕셔너리.values() : 딕셔너리의 값만을 모아 dict_values 객체를 반환
# 딕셔너리.items() : key, value 쌍 얻기
# 딕셔너리.clear() : Key:value쌍 모두 지우기
# in : 해당 키가 딕셔너리 안에 있는지 조회. ex)'키' in 딕셔너리

010-1234-5678

In [ ]:
dic1.pop('phone')

# 세트의 생성과 활용

In [92]:
# 집합생성
s1 = set('hello') # 집합 자료형은 중복을 허용하지 않으며, 순서가 없다.
print(s1)

{'e', 'l', 'h', 'o'}

In [98]:
# 교집합 / 합집합 / 차집합
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2) #s1.intersection(s2) - 교집합
# print(s1 & s2) 
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [99]:
print(s1 | s2) #s1.union(s2) - 합집합
# print(s1 | s2) 
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [100]:
print(s1 - s2) #s1.difference(s2) - 차집합
# print(s1 - s2)
s1.difference(s2)

{1, 2, 3}

{1, 2, 3}

In [107]:
s3.add(4)           # 하나의 값을 집합에 추가할 때
s3.update([4,5])    # 여러개의 값을 집합에 추가할 때
print(s3)

{1, 2, 3, 4, 5}

In [108]:
s3 = {1,2,3}
type(s3)

set