In [17]:
# 파이썬에서 들여쓰기(Indentation)는 문법사항
# 필요한 곳에서 하지 않으면 오류발생
if 5 < 10 : 
    print("5는 10보다 크다")
    print("***************")
print("프로그램이 종료되었습니다.")

5는 10보다 크다
***************
프로그램이 종료되었습니다.

In [9]:
A = 100
print(A)

100

In [13]:
# 변수 : 프로그램이 사용할 데이터를 기억하는 저장 공간의 이름
birthyear = 2007  # birthYear라는 변수는 2007 값을 저장하고 있고
age = 2021 - birthyear
# age라는 변수는 2021 - birthYear의 연산결과를 저장한다.
print(age)  #age에 저장된 값을 출력한다.
# J.N Cell 나누기 : 커서 위치에서 셀을 나누려면 ctol + shift + (-)를 눌러준다.

14

In [22]:
# 타입Type : 숫자(정수형, 실수형), 문자(열), Boolean
numberInt = 100 # 정수형int 타입
numberFloat = 1.234 #실수형float 타입
varChar = 'A' # 문자형str 타입
varStr = 'Korea' # 문자열str 타입
varBool = True # 부울bool 타입

In [23]:
# 파이썬에는 type()함수가 있어서 data type을 확인할 수 있다.
type(varBool)
print(type(numberInt))
print(isinstance(numberInt, int))

<class 'int'>
True

In [26]:
# 입력함수 input("메시지")
birthYear = int(input("태어난 해를 입력하세요. : "))
type(birthYear)
age = 2021 - birthYear
print(age)

태어난 해를 입력하세요. : 2002
19

In [27]:
number1 = 100
print("lst : ", type(number1))
number1 = 3.141592
print("2nd : ", type(number1))

lst :  <class 'int'>
2nd :  <class 'float'>

In [28]:
print("korea" + "IT")
# 문자열 결합

koreaIT

In [31]:
print("age : " , 10)
# 문자열, 문자열 결합

age :  10

In [32]:
print("=" * 79)
# 문자열 * 숫자

===============================================================================

In [39]:
print("%d"%10)
print("age : ", 10, "세")
print("age : ", 10, "세", sep="")
print("age : ", 10, "세", sep="*")
print("age : ", 10, "세", sep="*", end="")

print("age : %d세"%10)
# 포맷팅 출력: % 기호 사용, 변수값 출력 %s : 문자열 타입의 변수 출력

10
age :  10 세
age : 10세
age : *10*세
age : *10*세age : 10세

In [43]:
print("%d %f %s"%(10, 3.14, "korea"))
# %d : 정수형 타입의 변수 출력
# %f : 실수형 타입의 변수 출력
# %c : 문자형character
# %o : 8진수
# %x : 16진수
# %% : '%'문자

10 3.140000 korea

In [44]:
# 고급 포맷팅 출력
print("첫번째 수 {1:f} 두번째 수 {0:d}".format(10, 3.14))

첫번째 수 3.140000 두번째 수 10

In [68]:
# 자료형과 연산자
# 산술연산자 :  +, -, *, /(나누기), %(나머지), //(몫), **(거듭제곱)
# 관계연산자 : , <, >=, <=, ==, !=
# 논리연산자 and, or, not
# 비트연산자 &, |, ^(배타적or, xor), ~, <<, >>  ㅡㅡㅡㅡ 사물인터넷에서 많이 사용!!!!!

num1 = 10
num2 = 7
print(num1/num2)
print(num1//num2)
print(num1**num2)
print(num1 != num2)
print(10 > 20 and 10 < 5)
print(not(10 < 20))

1.4285714285714286
1
10000000
True
False
False

In [69]:
# 진수변환
# sel = int(input("입력 진수(16/10/8/2) : "))
# num=input("값 입력 : ")
# if sel == 16 :
#    num10 = int(num, 16)  
# elif sel == 10 :
#    num10 = int(num, 10)
# elif sel == 8 :
#    num10 = int(num, 8)
# else :
#    num10 = int(num, 2)
print("16진수 : ",hex(num10))
# 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f
print("10진수 : ", (num10)
# 0,1,2,3,4,5,6,7,8,9
print("8진수 : ", oct(num10))
# 0,1,2,3,4,5,6,7
print("2진수 : ", bin(num10))
# 0,1

SyntaxError: invalid syntax (<ipython-input-69-fe08dce2917c>, line 16)

In [70]:
print(bin(7))
# 2진수
print(oct(5))
# 8진수
print(hex(23))
# 16진수

0b111
0o5
0x17

In [71]:
# print(bin(5))
print(5 & 7)

5